@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');
@import './assets/scss/variables';
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
  color: $light;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
  border-radius: 2px;
} 
*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 2px;
}
.text-dark{
  color: $dark!important;
}
.text-light{
  color: $light!important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@for $i from 1 to 6 {
  h#{$i}{
    font-weight: 900;
  }
}
.icon{
  filter: invert(0.65) grayscale(0.5);
}
.btn-link:hover{
  text-decoration: none;
}
.dropdown-toggle{
  min-width: 150px;
}